@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 253 164 175;
  --background-start-rgb: 251 113 133;
  --background-end-rgb: 255 228 230;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 76, 5, 25;
  }
}

body {
  color: rgb(136 19 55);
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  height: 100vh;
}